.chats {
    position: relative;
    height: 400px;
    width: 250px;
}

.chats__header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    height: 50px;
}